{% extends 'base.html.twig' %}

{% block title %}Internet magazine{% endblock %}
{% block page_keywords %}Some good things{% endblock %}
{% block page_description %}Your wishes are here!{% endblock %}

{% block body %}

    <!-- Open Content -->
    <section class="bg-light">


        <div class="container pb-5">
            <div class="row pt-3 pb-3">
                {{ include( 'app/_embed/bread-crumbs.html.twig' ) }}
            </div>
            <div class="row">
                {{ render(controller('App\\Controller\\CategoryController::buildSidebar'))}}

                <div class="col-lg-4 ">
                    <div class="card mb-3">
                        <img class="card-img img-fluid" src="{{ asset('product-images/') }}{{ product.imagepath }}" alt="Card image cap" id="product-detail">
                    </div>
                    <div class="row">
                        <!--Start Controls-->
                        <div class="col-1 align-self-center">
                            <a href="#multi-item-example" role="button" data-bs-slide="prev">
                                <i class="text-dark fas fa-chevron-left"></i>
                                <span class="sr-only">Previous</span>
                            </a>
                        </div>
                        <!--End Controls-->
                        <!--Start Carousel Wrapper-->
                        <div id="multi-item-example" class="col-10 carousel slide carousel-multi-item" data-bs-ride="carousel">
                            <!--Start Slides-->
                            <div class="carousel-inner product-links-wap" role="listbox">

                                <!--First slide-->
                                <div class="carousel-item active">
                                    <div class="row">
                                        <div class="col-4">
                                            <a href="#">
                                                <img class="card-img img-fluid" src="{{ asset('product-images/') }}{{ product.imagepath }}" alt="Product Image 1">
                                            </a>
                                        </div>
                                        <div class="col-4">
                                            <a href="#">
                                                <img class="card-img img-fluid" src="{{ asset('product-images/') }}{{ product.imagepath }}" alt="Product Image 2">
                                            </a>
                                        </div>
                                        <div class="col-4">
                                            <a href="#">
                                                <img class="card-img img-fluid" src="{{ asset('product-images/') }}{{ product.imagepath }}" alt="Product Image 3">
                                            </a>
                                        </div>
                                    </div>
                                </div>
                                <!--/.First slide-->

                                <!--Second slide-->
                                <div class="carousel-item">
                                    <div class="row">
                                        <div class="col-4">
                                            <a href="#">
                                                <img class="card-img img-fluid" src="{{ asset('product-images/') }}{{ product.imagepath }}" alt="Product Image 4">
                                            </a>
                                        </div>
                                        <div class="col-4">
                                            <a href="#">
                                                <img class="card-img img-fluid" src="{{ asset('product-images/') }}{{ product.imagepath }}" alt="Product Image 5">
                                            </a>
                                        </div>
                                        <div class="col-4">
                                            <a href="#">
                                                <img class="card-img img-fluid" src="{{ asset('product-images/') }}{{ product.imagepath }}" alt="Product Image 6">
                                            </a>
                                        </div>
                                    </div>
                                </div>
                                <!--/.Second slide-->

                            </div>
                            <!--End Slides-->
                        </div>
                        <!--End Carousel Wrapper-->
                        <!--Start Controls-->
                        <div class="col-1 align-self-center">
                            <a href="#multi-item-example" role="button" data-bs-slide="next">
                                <i class="text-dark fas fa-chevron-right"></i>
                                <span class="sr-only">Next</span>
                            </a>
                        </div>
                        <!--End Controls-->
                    </div>
                </div>
                <!-- col end -->
                <div class="col-lg-5">
                    <div class="card">
                        <div class="card-body">
                            <h1 class="h2">{{ product.title }}</h1>
                            <p class="h3 py-2">&#8381; {{ product.price }}</p>
                            <p class="py-2">
                                {% for i in 1..5 %}
                                    {% if i <= product.rate %}
                                        <i class="text-warning fa fa-star"></i>
                                    {% else %}
                                        <i class="text-muted fa fa-star"></i>
                                    {% endif %}
                                {% endfor %}
                                <span class="list-inline-item text-dark">Рейтинг {{ product.rate }} | 36 комментариев</span>
                            </p>
                            <ul class="list-inline">
                                <li class="list-inline-item">
                                    <h6>Категория:</h6>
                                </li>
                                <li class="list-inline-item">
                                    <p class="text-muted"><strong>{{ category.title }}</strong></p>
                                </li>
                            </ul>

                            <h6>Описание:</h6>
                            <p>{{ product.description }}</p>

                            {{ form_start(form, {'attr': {'class': 'mt-4 p-4 bg-light'}}) }}
                            <div class="form-group">
                                {{ form_label(form.quantity, 'Количество') }}
                                {{ form_widget(form.quantity, {
                                    'attr': {
                                        'class': 'form-control ' ~ (form.quantity.vars.valid ? '' : 'is-invalid')
                                    }
                                }) }}
                                <div class="invalid-feedback">
                                    {{ form_errors(form.quantity) }}
                                </div>
                            </div>
                            {{ form_widget(form.add, {'attr': {'class': 'mt-4 btn btn-success '}}) }}

                            {{ form_end(form) }}

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- Close Content -->

    {{ render(controller('App\\Controller\\MainController::getRandomProduct', { limit: 8 }) ) }}

    <!-- Start Content Page -->
    <div class="container-fluid bg-light py-5">
        <div class="col-md-6 m-auto text-center">
            <h1 class="h1">Ваши комментарии</h1>
            <p>
                Оставляя комментарии ниже, вы помогаете другим покупателям лучше узнать о товаре, спасибо!
                {% if not app.user %}
                    <br />Чтобы оставить комментарий <a href="{{ path("app_login") }}">ВОЙДИТЕ</a> в систему!
                {% endif %}
            </p>
        </div>
    </div>

    {% if app.user %}
        <!-- Start Contact -->
        <div class="container py-5">
            <div class="row py-5">
                <div class="col-md-9 m-auto">
                    {{ form_start(productsCommentsForm) }}
                    <div class="row">
                        <div class="form-group col-md-6 mb-3">
                            {{ form_label(productsCommentsForm.rate) }}
                            {{ form_widget(productsCommentsForm.rate) }}
                            {{ form_errors(productsCommentsForm.rate) }}
                        </div>
                    </div>
                    <div class="mb-3">
                        {{ form_label(productsCommentsForm.description) }}
                        {{ form_widget(productsCommentsForm.description) }}
                        {{ form_errors(productsCommentsForm.description) }}
                    </div>
                    <div class="row">
                        <div class="col text-end mt-2">
                            <button type="submit" class="btn btn-success btn-lg px-3">Сохранить мой отзыв</button>
                        </div>
                    </div>
                    {{ form_end(productsCommentsForm) }}
                </div>
            </div>
        </div>
        <!-- End Contact -->
    {% endif %}

    {{ render(controller('App\\Controller\\ProductsCommentsController::show', { productId: productId }) ) }}

{% endblock %}
