<button class="navbar-toggler border-0" type="button" data-bs-toggle="collapse" data-bs-target="#templatemo_main_nav"
        aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
</button>

<div class="align-self-center collapse navbar-collapse flex-fill  d-lg-flex justify-content-lg-between"
     id="templatemo_main_nav">
    <div class="flex-fill">
        <ul class="nav navbar-nav d-flex justify-content-between mx-lg-auto">
            <li class="nav-item">
                <a class="nav-link" href="{{ path('app_index') }}">Домой</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="{{ path('app_products_list') }}">Каталог продуктов</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="{{ path('app_about') }}">О проекте</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="{{ path('app_contact') }}">Контакты</a>
            </li>
        </ul>
    </div>
    <div class="navbar align-self-center d-flex">
        <div class="d-lg-none flex-sm-fill mt-3 mb-4 col-7 col-sm-auto pr-3">
            <div class="input-group">
                <input type="text" class="form-control" id="inputMobileSearch" placeholder="Search ...">
                <div class="input-group-text">
                    <i class="fa fa-fw fa-search"></i>
                </div>
            </div>
        </div>
        <a class="nav-icon d-none d-lg-inline" href="#" data-bs-toggle="modal" data-bs-target="#templatemo_search">
            <i class="fa fa-fw fa-search text-dark mr-2"></i>
        </a>
        <a class="nav-icon position-relative text-decoration-none" href="#">
            <i class="fa fa-fw fa-cart-arrow-down text-dark mr-1"></i>
            <span class="position-absolute top-0 left-100 translate-middle badge rounded-pill bg-light text-dark">7</span>
        </a>
        <a class="nav-icon position-relative text-decoration-none" href="#">
            <i class="fa fa-fw fa-user text-dark mr-3"></i>
            <span class="position-absolute top-0 left-100 translate-middle badge rounded-pill bg-light text-dark">+99</span>
        </a>
        {% if not is_granted('IS_AUTHENTICATED_FULLY') %}
            <a class="nav-icon d-none d-lg-inline" href="{{ path('app_login') }}" data-bs-toggle="modal">
                <i class="fa fa-fw fa-door-closed text-dark mr-2"></i>
            </a>
        {% else %}
            <a class="nav-icon d-none d-lg-inline" href="{{ path('app_logout') }}" data-bs-toggle="modal">
                <i class="fa fa-fw fa-door-open text-dark mr-2"></i>
            </a>
        {% endif %}
    </div>
</div>